{% extends 'base.html' %}
{% block content %}
{{block.super}}
<div class="container">
    <h4>{{user.username}}</h4>
    <img src="{{ user.profile.pic.url}}" height="100px" width="100px" class="rounded-circle" alt="profile photo">
    <div class="grid">
        <div class="grid-sizer">
        {% for post in projects %}
        <div class="grid-item">
            <img src="{{post.image.url}}" class="pl-2 pb-2"  alt="">
        </div>
        {% empty %}
        <p>No projects have been posted</p>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}