{%extends 'base.html'%}
{% load crispy_forms_tags %}
{% load ratings %}
{%block content%}
{{block.super}}
<style>
    span{
        text-decoration:underline;
        font-size:29px;
    }
    .card-title{
        background-image: url('{{project.image.url}}');
        height:700px;
        background-repeat:no-repeat;
        background-size:cover;
        background-position: center;
        background-color: #5f6769;
    }
    form{
        padding:5px;
    }
    button{
        border-radius:50%;
    }
</style>
<div class="container mt-3">
        <div class="card-header" style="background:white;">
            <h1 class="text-center">{{project.title}}</h1>
            {{project.description}}
        </div>
        <div class="card-title">
            <div class="overlay">
                <a href="{{project.link}}" target="_blank">
                    <button type="button" class="btn btn-sm btn-outline-success btn-rounde waves-effect">
                        Visit
                    </button>
                </a>
                {{project.post_date|date}}
                By: {{project.author|capfirst}}
            </div>
        </div>
        </div>
        <div class="container-fluid">
            <hr>
            <h1 class="text-center">Reviews and rates</h1>
            <h1 class="text-center">{% ratings project %}</h1>
        </div>

</div>
{% endblock %}